<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all"/>
    <link rel="stylesheet" th:href="@{/css/public.css}" media="all"/>
</head>
<body>
<!-- 搜索条件开始 -->
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
    <legend>查询条件</legend>
</fieldset>
<blockquote class="layui-elem-quote">
<form class="layui-form" method="post" id="searchFrm">
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">经办人:</label>
            <div class="layui-input-inline">
                <input type="text" name="skullName"  autocomplete="off" class="layui-input" >
            </div>
        </div>
        <div class="layui-inline">
            <div class="layui-input-inline">
                <button type="button" class="layui-btn layui-btn-normal  layui-icon layui-icon-search" id="doSearch">查询</button>
            </div>
        </div>
    </div>
</form>
</blockquote>
<!--搜索结束-->
<!-- 添加和修改的弹出层开始 -->
<div style="display: none;padding: 20px" id="saveOrUpdateDiv" >
    <form class="layui-form"  lay-filter="dataFrm" id="dataFrm" style="margin-top: 20px">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">经办人:</label>
                <div class="layui-input-inline">
                    <input type="hidden" name="skullId">
                    <input type="text" name="skullName" lay-verify="required"   placeholder="请输入经办人" autocomplete="off"
                           class="layui-input">
                </div>
            </div>
        </div>

        <div class="layui-form-item" style="text-align: center;">
            <div class="layui-input-block" style=" margin-left:0px">
                <button type="button" class="layui-btn layui-btn-normal layui-btn-sm layui-icon layui-icon-release"  lay-filter="doSubmit" lay-submit="">提交</button>
                <button type="reset" class="layui-btn layui-btn-warm layui-btn-sm layui-icon layui-icon-refresh" >重置</button>
            </div>
        </div>
    </form>

</div>
<!-- 添加和修改的弹出层结束 -->


<!-- 搜索条件结束 -->
<!-- 数据表格开始 -->
<div  style="display: none;" id="skullToolBar">
    <button type="button" class="layui-btn layui-btn-sm" lay-event="add">增加</button>
</div>
<table class="layui-hide" id="skullTable" lay-filter="skullTable"></table>

<div  id="skull" style="display: none;">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</div>
<!-- 数据表格结束 -->
<script th:src="@{/layui/layui.js}"></script>
<script type="text/javascript" th:inline="none">
    var tableIns;
    layui.extend({
        dtree:'layui_ext/dist/dtree'
    }).use([ 'jquery', 'layer', 'form', 'table','dtree'  ], function() {
        var $ = layui.jquery;
        var layer = layui.layer;
        var form = layui.form;
        var table = layui.table;
        var dtree=layui.dtree;
        //渲染数据表格
        tableIns=table.render({
            elem: '#skullTable'   //渲染的目标对象
            ,url:'skull/findAllSkull' //数据接口
            ,title: '用户数据表'//数据导出来的标题
            ,toolbar:"#skullToolBar"   //表格的工具条
            ,height:'full-200'
            ,page: 1  //是否启用分页, limits: [10, 20, 30]
            ,limits: [7, 20, 30]
            ,limit: 7//默认采用3
            ,cols: [[   //列表数据
                {field:'skullId', title:'ID',align:'center',width:'30%'}
                ,{field:'skullName', title:'经办人',align:'center',width:"40%"}
                ,{fixed: 'right', title:'操作', toolbar: '#skull',align:'center',width:'30%'}
            ]]
        })
        //模糊查询
        $("#doSearch").click(function(){
            var params=$("#searchFrm").serialize();
            tableIns.reload({
                url:"skull/findAllSkull?"+params
            })
        });

        //监听头部工具栏事件
        table.on("toolbar(skullTable)",function(obj){
            switch(obj.event){
                case 'add':
                    openAddSkull();
                    break;
            };
        })
        //监听行工具事件
        table.on('tool(skullTable)', function(obj){
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            if(layEvent === 'del'){ //删除
                layer.confirm('真的删除【'+data.skullName+'】这个经办人吗', function(index){
                    //向服务端发送删除指令
                    $.post("skull/deleteSkull",{skullId:data.skullId},function(res){
                        layer.msg(res);
                        //刷新数据 表格
                        tableIns.reload();
                    })
                });
            } else if(layEvent === 'edit'){ //编辑
                openUpdateSkull(data);
            }
        });

        var url;
        var mainIndex;
        //打开添加页面
        function openAddSkull(){
            mainIndex=layer.open({
                type:1,
                title:'添加经办人',
                content:$("#saveOrUpdateDiv"),
                area:['380px','300px'],
                success:function(index){
                    //清空表单数据
                    $("#dataFrm")[0].reset();
                    url="skull/addSkull";
                }
            });
        }
        //打开修改页面
        function openUpdateSkull(data){
            mainIndex=layer.open({
                type:1,
                title:'修改经办人',
                content:$("#saveOrUpdateDiv"),
                area:['380px','300px'],
                success:function(index){
                    form.val("dataFrm",data);
                    url="skull/editSkull";
                }
            });
        }
        //保存
        form.on("submit(doSubmit)",function(obj){
            //序列化表单数据
            var params=$("#dataFrm").serialize();
            $.post(url,params,function(obj){
                layer.msg(obj);
                //关闭弹出层
                layer.close(mainIndex)
                //刷新数据 表格
                tableIns.reload();
            })
        });




    });
</script>
</body>
</html>