<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>预交金</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all"/>
    <style>
        #dataFrm{
            margin: -75px 0px 0px 500px;
        }
        .dataFrm_input{
            font-size: 16px;
            width: 150px;
            height: 20px;
            margin-right: 20px;
            margin-bottom: 8px;
        }
        .dataFrm_td{
            display: block;
            width: 80px;
            text-align: right;
        }
        #add{
            margin: 0px;
        }
        #show1,#show3,#show4{
            float: left;
        }
        .tu{
            position: absolute;
            margin: 7% 0px 0px 5%;
        }
        .tu1{
            position: absolute;
            margin: 15% 0px 0px 5%;
        }
    </style>
</head>
<body>
<!-- 搜索条件开始 -->
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
    <legend>查询条件</legend>
</fieldset>
<form class="layui-form" method="post" id="searchFrm">
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">住院号:</label>
            <div class="layui-input-inline">
                <input type="number" id="shows" lay-verify="required|number" autocomplete="off" class="layui-input" style="width:200px" >
            </div>
        </div>
        <div class="layui-inline" style="position: absolute;left: 340px;top:66px;">
            <div class="layui-input-inline">
                <button type="button" class="layui-btn layui-btn-normal  layui-icon layui-icon-search" id="doSearch">查询</button>
            </div>
        </div>
    </div>
</form>
<!--显示患者信息开始-->
<form class="layui-form"  lay-filter="dataFrm" id="dataFrm">
    <input type="hidden" id="show" name="registerid">
    <input type="hidden" id="hidden" name="projectName" value="">
    <input type="hidden" id="hid" name="moneys" value=0>
    <table>
        <tr>
            <td class="dataFrm_td">姓名：</td>
            <td><input type="text" id="ceshi" class="dataFrm_input" name="userName" readonly></td>
            <td class="dataFrm_td">科室：</td>
            <td><input type="text" class="dataFrm_input" name="department" readonly></td>
            <td class="dataFrm_td">金额：</td>
            <td><input type="text" class="dataFrm_input" name="money" readonly></td>
        </tr>
        <tr>
            <td class="dataFrm_td">性别：</td>
            <td><input type="text" class="dataFrm_input" name="sex" readonly></td>
            <td class="dataFrm_td">医生：</td>
            <td><input type="text" class="dataFrm_input" name="doctorName" readonly></td>
            <td class="dataFrm_td">已用：</td>
            <td><input type="text" class="dataFrm_input" id="yong" readonly></td>
        </tr>
        <tr>
            <td class="dataFrm_td">年龄：</td>
            <td><input type="text" class="dataFrm_input" name="age" readonly></td>
            <td class="dataFrm_td">床位：</td>
            <td><input type="text" class="dataFrm_input" name="bedName" readonly></td>
            <td class="dataFrm_td">余款：</td>
            <td><input type="text" class="dataFrm_input" id="yu" readonly></td>
        </tr>
    </table>
</form>
<!--显示患者信息结束-->
<!-- 数据表格开始 -->
<div  style="display: none;" id="ToolBar">
    <button type="button" class="layui-btn layui-btn-sm" lay-event="add" id="add">取药</button>
</div>
<div  style="display: none;" id="ToolBars"></div>
<!--药品显示-->
<div style="display: none;width: 40%;" id="show4">
    <table class="layui-hide" id="pay" lay-filter="pay"></table>
</div>
<!--图标显示-->
<div style="display: none;width:10%" id="show1">
    <i class="layui-icon tu" data-icon="&#xe65b;">&#xe65b;</i><br/>
    <i class="layui-icon tu1" data-icon="&#xe65a;">&#xe65a;</i>
</div>
<div style="display: none; width:40%;" id="show3">
    <table class="layui-hide" id="pays" lay-filter="pays"></table>
</div>
<!-- 数据表格结束 -->
<script th:src="@{/layui/layui.js}"></script>
<script type="text/javascript" th:inline="none">
    var tableIns;
    layui.use([ 'jquery', 'layer', 'form', 'table'  ], function() {
        var $ = layui.jquery;
        var layer = layui.layer;
        var form = layui.form;
        var table = layui.table;
        var laydate = layui.laydate;
        //渲染数据表格
        tableIns=table.render({
            elem: '#pay'   //渲染的目标对象
            ,url:'' //数据接口
            ,title: '用户数据表'//数据导出来的标题
            ,toolbar:"#ToolBar"   //表格的工具条
            ,height:'full-200'
            ,page: 1  //是否启用分页, limits: [10, 20, 30]
            ,limits: [7, 20, 30]
            ,limit: 7//默认采用3
            ,cols: [[   //列表数据
                {field:'hospitalpriceid', title:'序号',align:'center'}
                ,{field:'durgname', title:'药品名称',align:'center'}
                ,{field:'durgnum', title:'数量',align:'center'}
                ,{field:'repiceprice', title:'售价',align:'center'}
                ,{field:'repicetotal', title:'总价',align:'center'}
            ]]
        })
        //渲染数据表格
        tableInss=table.render({
            elem: '#pays'   //渲染的目标对象
            ,url:'' //数据接口
            ,title: '用户数据表'//数据导出来的标题
            ,height:'full-200'
            ,toolbar:"#ToolBars"
            ,page: 1  //是否启用分页, limits: [10, 20, 30]
            ,limits: [7, 20, 30]
            ,limit: 7//默认采用3
            ,cols: [[   //列表数据
                ,{field:'durgname', title:'药品名称',align:'center',width:"20%"}
                ,{field:'durgnum', title:'数量',align:'center',width:"12%"}
                ,{field:'repiceprice', title:'售价',align:'center',width:"12%"}
                ,{field:'repicetotal', title:'总价',align:'center',width:"12%"}
                ,{field:'htime', title:'取药时间',templet: "<div>{{layui.util.toDateString(d.htime, 'yyyy年MM月dd日 HH:mm:ss')}}</div>",align:'center',width:"44%"}
            ]]
        })
        //查询
        $("#doSearch").click(function(){
            if($("#shows").val()==""){
                layer.msg("请输入住院号！");
                $("#shows").select();
                return false;
            }
            sel();
        });
        //失焦事件
        $("#shows").blur(function(){
            $("#dataFrm")[0].reset();
            $("#show").val($(this).val());
            $("#hidden").val("");
            $("#show1").fadeOut(1);
            $("#show3").fadeOut(1);
            $("#show4").fadeOut(1);
        });
        function sel(){
            var params=$("#dataFrm").serialize();
            $.ajax({
                url: '../liao/selPay',
                dataType: 'json',
                type: 'post',
                data:params,
                success: function (data) {
                    if(data==""){
                        layer.msg("请输入正确的住院号！");
                        $("shows").select();
                    }else{
                        $.each(data, function (index, item) {
                            for(var i in item){
                                $("input[name="+i+"]").val(item[i])
                            }
                        });
                        sels();
                        tableIns.reload({
                            url:"../liao/selDrugs?"+params
                        })
                        tableInss.reload({
                            url:"../liao/selPhar?"+params
                        })
                        $("#show1").fadeIn(1000);
                        $("#show3").fadeIn(1000);
                        $("#show4").fadeIn(1000);
                    }
                }
            })
        }
        table.on("toolbar(pay)",function(obj){
            var params=$("#dataFrm").serialize();
            if(obj.event=='add') {
                layer.confirm('确认要取出此药品订单吗？', {
                    btn : [ '确定', '取消' ]//按钮
                }, function(index) {
                    layer.close(index);
                    $.post("updDrug",params,function(inp){
                        layer.msg(inp);
                        //查询余额
                        sels();
                        tableIns.reload();
                        tableInss.reload();
                    })
                })
            }
        })
        function sels(){
            var params=$("#dataFrm").serialize();
            //查询余额
            $.post("selSurplus",params,function(inp) {
                if(inp==""){
                    $("#yong").val(0);
                }else{
                    $.each(inp, function (index, item) {
                        for(var i in item){
                            if(i=="repicetotal"){
                                $("#yong").val(item[i]);
                            }
                        }
                    });
                }
                $("#yu").val($("input[name='money']").val()-$("#yong").val());
            })
        }
    });
</script>
</body>
</html>