<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>医院</title>
    <link rel="icon" href="favicon.ico">
    <link rel="stylesheet" th:href="@{/layuicms2.0/layui/css/layui.css}" media="all"/>
    <link rel="stylesheet" th:href="@{/layuicms2.0/css/index.css}" media="all"/>
    <script type="text/javascript" th:src="@{/layuicms2.0/layui/layui.js}"></script>
</head>
<body class="main_body">



</body>
</html>
<script>

    location.href="../sel/toLogin"
</script>
