<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tian.mapper.LadminMapper">
    <!--查询科室信息-->
    <select id="selDepartment" resultType="Departments">
        select * from departments
    </select>
    <!--查询医生-->
    <select id="selDoctor" parameterType="Doctor" resultType="Doctor">
        select * from doctor where departmentId=#{departmentId} and dstate=1
    </select>
    <!--查询床位-->
    <select id="selBed" parameterType="Bed" resultType="Bed">
        select * from bed where state=#{state} and departmentId=#{departmentId}
    </select>
    <!--添加或者-->
    <insert id="addRegister" parameterType="Register">
        insert into register(userName,age,sex,department,doctor,diagnose,address,Phone,Idcard,registerDate,bedNum,Operator,money,state,discount)
        values(#{userName},#{age},#{sex},#{departmentId},#{doctorId},#{diagnose},#{address},#{phone},#{idcard},NOW(),#{bedId},#{operator},#{money},0,#{discount})
    </insert>
    <!--查询患者-->
    <select id="selRegister" parameterType="Register" resultType="Register">
        select r.registerid,r.userName,r.age,r.sex,d.department department,r.money,r.department departmentId,r.doctor doctorId,r.bedNum bedId,c.doctorName doctorName,r.address,r.phone,r.idcard,r.registerDate,b.bedname bedName,r.operator,r.discount
        from register r,departments d,doctor c,bed b
         <where>
             r.state=0 and r.department=d.departmentId and r.doctor=c.doctorId and r.bedNum=b.bedId
             <if test="userName!=null and userName!=''">
                and r.userName like concat('%',concat(#{userName},'%'))
             </if>
             <if test="registerid!=null and registerid!=''">
                and r.registerid=#{registerid}
             </if>
             <if test="idcard!=null and idcard!=''">
                 and r.idcard=#{idcard}
             </if>
             order by r.registerDate desc
         </where>
    </select>
    <!--修改床位-->
    <update id="updBed" parameterType="Register">
        update bed set state=1 where bedid=#{bedId}
    </update>
    <!--查询折扣-->
    <select id="selDis" resultType="Moneytype">
        select * from moneytype
    </select>
    <!--查询门诊患者-->
    <select id="selDoor" resultType="Register">
        select reportid,reportName userName,sex,age,phone,carid idcard,zhuan diagnose from report where state=4
    </select>
    <!--逻辑删除转院人员-->
    <update id="updZ" parameterType="Register">
        UPDATE report SET state =5 WHERE reportid=#{reportid}
    </update>
    <!--转科室-->
    <update id="updKe" parameterType="Register">
        update register set price=(select (1-(cast(replace(b.discount,'%','') as decimal(18,2))/100))*a.price*(TO_DAYS(NOW())-TO_DAYS(ifnull(b.zhuan,b.registerDate)))+IFNULL(b.price,0) price from (select price from bed where bedid=(select bedNum from register where registerid=#{registerid}))a,(select * from register where registerid=#{registerid}) b),zhuan=NOW(),department=#{departmentId},doctor=#{doctorId},bedNum=#{bedId} where registerid=#{registerid}
    </update>
</mapper>