<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tian.mapper.WarehuoseMapper">
 <select id="findAllWarehuose" resultType="Warehuose">
     select *from Warehuose
     <where>
         <if test="supplierName!=null and supplierName!=''">
             supplierName like concat('%',concat(#{supplierName},'%'))
         </if>
     </where>
 </select>
    <insert id="addWarehuose" parameterType="Warehuose">
        insert into Warehuose(supplierName)values(#{supplierName})
    </insert>
    <delete id="deleteWarehuose" parameterType="Integer">
        delete from Warehuose where warehouseId=#{warehouseId}
    </delete>
    <select id="count" resultType="int">
        select count(*) from Warehuose where supplierName=#{supplierName}

    </select>
</mapper>